//Containers from biggest to smallest
.groupContainer {
	display: inline-table;
	border-radius: 10px;
	padding: 0.5rem 0;
	padding-top: 0;
	margin: 0.5rem 1rem;
	width: 18rem;
	background: transparent;
	background-color: rgba(255, 255, 255, 0.75);
	border: 2px solid #ccc;
}

.todoContainer {
	display: inline-flexbox;
	border-radius: 10px;
	padding: 0.4rem 0.2rem;
	margin: 0.5rem 0.2rem;
	background: transparent;
	background-color: whitesmoke;
	border: 2px solid #ccc;
}

.container {
	display: flex;
	align-items: center;
}

//Buttons
.addTodo {
	display: flex;
	margin: 0.5rem 0.5rem;
	margin-top: 0.25rem;
	margin-bottom: 1rem;
	padding-left: 0.2rem;
	padding-bottom: 1rem;
	border-bottom: 0.1rem solid rgba(54, 54, 54, 0.726);
}

.addTodoGroup {
	display: inline-block;
}

.completeBtn:checked + .completeLabel {
	font-style: italic;
	color: gray;
	text-decoration: line-through;
}

.delBtnStyle {
	display: inline-flexbox;
	position: relative;
	right: 0.1em;
	background: rgba(255, 60, 56, 0.8);
	color: white;
	border: none;
	margin: 0 3em;
	margin-right: 0.1em;
	padding: 0.4em 0.8em;
	border-radius: 0.4em;
	cursor: pointer;
	float: right;
}

.delBtnStyle:hover {
	background: rgb(255, 60, 56);
	color: white;
}

.delBtnStyle:focus {
	outline: 0;
}

//Text
.groupTitle {
	display: inline-table;
	margin: 0.5rem 0.5rem;
	margin-bottom: 0.25rem;
	padding-left: 0.2rem;
	color: gray;
	align-content: center;
}
